<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.geogieoddae.report.query.mapper.BlacklistMapper">

    <!-- 그냥 resultType 으로 바로 DTO 매핑하는 버전 -->
    <select id="selectBlacklist"
            resultType="com.ohgiraffers.geogieoddae.report.query.dto.BlacklistQueryDto">
        SELECT
            r.restaurant_name              AS restaurantName,
            COUNT(re.report_code)          AS reportCount
        FROM restaurant r
                 INNER JOIN report re
                            ON re.restaurant_code = r.restaurant_code
                 INNER JOIN restaurant_blacklist rb
                            ON rb.report_code = re.report_code
        WHERE r.restaurant_is_deleted = FALSE
        GROUP BY r.restaurant_name
        ORDER BY MAX(rb.restaurant_blacklist_created_at) DESC

    </select>

</mapper>